
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
.container{
    width: 80%;
    margin: auto;
}
.d-flex{
    display: flex;
}
.bg-gray{
    background-color: #f7f7f7;
}
.justify-content-around{
justify-content: space-around;
}
.align-items-center{
    align-items: center;
}
.padding-top-bottom{
    padding: 4% 0%;
}
.text-gray{
    color: gray;
}

.card{
    width: 30%;
    transition: 1.5 all linear;
    background-color: white;
}
.card-img{
    position: relative;
}
.card-img img{
    width: 100%;
    height: 250px;
    display: block;
}
.overlay{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.264);
    width: 100%;
    height: 100%;
    display:none;
     transition: 1.5 all ;
    
}
.overlay h3{
      position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
}
.card:hover .overlay{
    display: block;
}
.card-content{
    padding: 3%;
}

.card-content h2{
    color: teal;
}
.card-img .img-border{
    width: 120px;
    height: 120px;
    border-radius:50% ;
    position: absolute;
    border: 8px solid white;
    bottom: -20%;
    right: 5%;
}

.card:hover .header p span{
    color: teal;
}
hr{
    width: 10%;
    /* height: 3px; */
    border: 2px solid black;
}
